version: "3.3"
services:
  eureka-server:
    container_name: eureka-server
    build:
      context: ./DiscoveryService/
      dockerfile: Dockerfile
    image: docker-discovery-service
    ports:
      - 8761:8761
    networks:
      - emp-networks
  api-gateway-service:
    container_name: api-gateway-service
    build:
      context: ./APIGateway/
      dockerfile: Dockerfile
    image: docker-api-gateway-service
    ports:
      - 8989:8989
    links:
      - eureka-server:eureka-server
    networks:
      - emp-networks
  reservation-service:
    container_name: reservation-service
    build:
      context: ./RestaurantReservationService/
      dockerfile: Dockerfile
    image: docker-reservation-service
    ports:
      - 8086:8086
    links:
      - eureka-server:eureka-server
    networks:
      - emp-networks
  account-service:
    container_name: account-service
    build:
      context: ./RestaurantAccountService/
      dockerfile: Dockerfile
    image: docker-account-service
    ports:
      - 8083:8083
    links:
      - eureka-server:eureka-server
    networks:
      - emp-networks
  login-service:
    container_name: login-service
    build:
      context: ./RestaurantLoginService/
      dockerfile: Dockerfile
    image: docker-login-service
    ports:
      - 8081:8081
    links:
      - eureka-server:eureka-server
    networks:
      - emp-networks
  table-service:
    container_name: table-service
    build:
      context: ./RestaurantTableService/
      dockerfile: Dockerfile
    image: docker-table-service
    ports:
      - 8082:8082
    links:
      - eureka-server:eureka-server
    networks:
      - emp-networks
  user-service:
    container_name: user-service
    build:
      context: ./RestaurantUserService/
      dockerfile: Dockerfile
    image: docker-user-service
    ports:
      - 8085:8085
    links:
      - eureka-server:eureka-server
    networks:
      - emp-networks
  app:
    container_name: restaurant-menu-service
    image: restaurant-menu-service
    build:
      context: ./RestaurantMenuService/
      dockerfile: Dockerfile
    links:
      - redis
      - eureka-server:eureka-server
    ports:
      - 8084:8084
    volumes:
      - ~/docker/redis:/redis-service/logs
    networks:
      - emp-networks
  redis:
    container_name: redis
    image: redis
    build:
      context: ./RestaurantMenuService/redis/
      dockerfile: Dockerfile
    hostname: redis
    ports:
      - 6379:6379
    networks:
      - emp-networks
networks:
  emp-networks:
    driver: bridge



