version: "3.3"
services:
  account-service:
    container_name: account-service
    build:
      context: .
      dockerfile: Dockerfile
    image: docker-account-service
    ports:
      - 8083:8083
    networks:
      - restaurant
    restart: always
networks:
  restaurant:
    name: restaurant
    driver: bridge