version: "3.3"
services:
  login-service:
    container_name: login-service
    build:
      context: .
      dockerfile: Dockerfile
    image: docker-login-service
    ports:
      - 8081:8081
    networks:
      - restaurant
#    restart: always
networks:
  restaurant:
    name: restaurant
    driver: bridge