# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\OneDrive - RMIT University\RMIT\2020\SemC2020\Software Engineering - Architecture and Design\SoftwareArchitechture\APIGateway\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
