version: '3'
services:
  menu-service:
    container_name: menu-service
    image: restaurant-menu-service
    build:
      context: .
      dockerfile: Dockerfile
    links:
      - redis-service:redis
    ports:
      - 8084:8084
    volumes:
      - ~/docker/redis:/redis-service/logs
    networks:
      - restaurant
#    restart: always
  redis-service:
    container_name: redis-service
    image: docker-redis-service
    build:
      context: ./redis/
      dockerfile: Dockerfile
    hostname: redis
    ports:
      - 6379:6379
    networks:
      - restaurant
#    restart: always
networks:
  restaurant:
    name: restaurant
    driver: bridge